body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

.episode-list {
  width: 300px;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.episode-list h3 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border-bottom: 1px solid #333;
}

.episode-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease, color 0.3s ease;
  font-size: 14px;
  color: #ccc;
}

.episode-item:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.episode-item.active {
  background: #3d2c61; /* Roxo escuro semelhante ao da imagem */
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
}

.episode-number {
  font-weight: bold;
}

.episode-title {
  flex: 1;
  margin-left: 8px;
}

.go-to-episode {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.go-to-episode button {
  background-color: #3d2c61;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 14px;
}

.go-to-episode button:hover {
  background-color: #503a7b;
}
